{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Sydney's Nook</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://css.gg/arrow-left.css' rel='stylesheet'>
        <link href='https://css.gg/search.css' rel='stylesheet'>
        <link href='https://css.gg/arrows-expand-left.css' rel='stylesheet'>
        <link href='https://css.gg/minimize-alt.css' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static 'script.js' %}" ></script>
    </head>
    <body>
        <div id="post">
            <span onclick="expandPost(this)" id="fullscreen">
                <i class="gg-arrows-expand-left"></i>
            </span>

            <h1 id="logo">Sydney's Nook</h1>
            <p id="subline">A room of my own</p>

            <section id="post-body">
                <h2 id="post-title">The Nook Opens</h2>
                <h3 id="post-date">June 20, 2022</h3>
                <div id="post-content">
                    <p>I resolved to start writing.  Every day, every week, every year--it didn’t matter, just write.  The only thing I knew that would keep me accountable was publicity, an audience.  Just knowing one person could happen upon my internet pitstop keeps the words flowing from my little desk in Seattle.

                        <br><br>The subline is a reference to Virgina Woolf’s novel A Room of One’s Own.  It concerns a woman’s need for independent space--physical, mental, emotional--to write and express herself.  In this digital world, I figure a website, an online room of my own, only makes sense.
                    </p>
                </div>
            </section>
        </div>

        <div id="post-links">
            <div id="search">
                <i id="search-icon" class="gg-search"></i>
                <input id="search-bar" class="bordered" placeholder="Search" />
            </div>
        </div>
    </body>
</html>
