/**
Font
*/

@font-face {
    font-family: YoungSerif;
    src: url("../YoungSerif-Regular.otf");
}

.young-serif {
    font-family: YoungSerif;
    font-weight: normal;
}

/**
Universal styles
*/

html {
    font-size: 24px;
}

* {
    font-family: 'Lato';
}

h1, h2, h3 {
    font-family: YoungSerif;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

i {
    color: black;
}

body {
    font-size: 1rem;
    margin: 0px;
    display: grid;
    height: 100vh;
    opacity: 0;
    left: 0%;
    width: 100%;
}

.bordered {
    border: 3px solid black;
}


.borderless-right {
    border-right: 0px;
}

.borderless-left {
    border-left: 0px;
}

.borderless-bottom {
    border-bottom: 0px;
}

/**
Scrollbar styles
*/

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 3px solid #000000;
}

/**
Mobile styles
*/

@media (max-width: 1440px) {
    html {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 16px;
    }
}
