/**
Font
*/

@font-face {
    font-family: YoungSerif;
    src: url("../YoungSerif-Regular.otf");
}

.young-serif {
    font-family: YoungSerif;
}

/**
Universal styles
*/

* {
    font-family: 'Lato';
}

h1, h2, h3 {
    font-family: YoungSerif;
}

h1 {
    font-size: 52px;
}

p {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
    display: grid;
    height: 100vh;
    position: relative;
    opacity: 0;
    overflow-x: hidden;
    left: 0%;
}

.bordered {
    border: 3px solid black;
}


.borderless-right {
    border-right: 0px;
}

/**
Scrollbar styles
*/

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 3px solid #000000;
}
