body {
    display: block !important;
}

/**
Header styles
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0.8rem;
}

header * {
    font-family: YoungSerif;
}

header h2 {
    font-size: 1.16rem;
}

header p {
    font-size: 0.6rem;
}

#links {
    border: none;
    outline: none;
    font-size: 0.6rem;
    background-color: transparent;
    transition-duration: 0.3s;
    padding: 0.125rem 0.2rem;
    cursor: pointer;
}

#links:hover {
    background-color: rgb(233, 233, 233)
}

#share {
    display: flex;
    align-items: center;
    padding: 0.125 0.4rem 0.125rem 0.2rem;
    cursor: pointer;
    transition-duration: 0.3s;
}

#share:hover {
    background-color: rgb(233, 233, 233)
}

#share * {
    margin: 0px 0.16rem;
}


#share {
    position: relative;
}

#share-popup {
    position: absolute;
    display: none;
    border: 1px solid black;
    padding: 0.4rem;
    bottom: -3rem;
    right: 0px;
    background-color: white;
}

#share-popup * {
    font-family: Lato;
    margin: 0px;
}

#share-popup button {
    --ggs: 0.75;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid black;
    cursor: pointer;
}

#share-popup button:active {
    background-color: rgb(206, 206, 206);
}

#share-url {
    padding: 0.2rem;
    font-size: 0.6rem;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid black;
}

/**
Post styles
*/

#body {
    max-width: 750px;
    width: 90%;
    margin: 0.8rem auto;
    padding: 0.4rem 1.6rem;
    line-height: 1.5rem;
}

#body * {
    text-align: center;
}

img {
    display: block;
    margin: 0px auto;
    max-width: 100%;
}

#thumbnail {
    width: 100%;
    margin-bottom: 2rem;
}

#post-title {
    font-size: 2.1rem;
    line-height: 2.1rem;
    margin: 1.4rem 0px;
}

#post-date {
    font-family: YoungSerif;
    font-size: 1rem;
}

#post-content * {
    font-family: Lato;
    text-align: left;
    font-size: 0.9rem;
}

#post-content h1 * {
    font-size: 1.25rem;
}

#post-content h2 * {
    font-size: 1.1rem;
}

#post-content h3 * {
    font-size: 1rem;
}

#post-content a {
    text-decoration: underline;
}

#post-content table {
    width: 100%;
    border-collapse: collapse;
}

#post-content td {
    border: 1px solid black;
    padding: 0.4rem;
}

/**
Mobile styles
*/

@media (max-width: 700px) {
    #body {
        padding: 0.4rem 0.4rem;
    }

    #share {
        --ggs: 0.5;
    }

    #share-popup button {
        --ggs: 0.5;
    }
}
