/**
Font
*/

@font-face {
    font-family: YoungSerif;
    src: url("YoungSerif-Regular.otf");
}

.young-serif {
    font-family: YoungSerif;
}

/**
Universal styles
*/

* {
    font-family: 'Lato';
}

h1, h2, h3 {
    font-family: YoungSerif;
}

h1 {
    font-size: 52px;
}

p {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100vh;
    position: relative;
}

.bordered {
    border: 4px solid black;
}

/**
Content styles
*/

#content {
    border: 4px solid black;
    padding: 10px 15%;
}

#logo {
    font-size: 84px;
    margin-bottom: 0px;
}

#subline {
    font-size: 52px;
    margin: 0px;
}

#about {
    margin-top: 75px;
}

#about h2 {
    font-size: 36px;
    margin: 20px 0px;
}

#about h3 {
    font-size: 28px;
    margin: 10px 0px;
}

#about p {
    font-size: 25px;
    line-height: 36px;
}

/**
Scrollbar styles
*/

/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: white #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 3px;
}

*::-webkit-scrollbar-track {
background: #000000;
}

*::-webkit-scrollbar-thumb {
background-color: white;
border-radius: 10px;
border: 0px solid #ffffff;
}

/**
Articles styles
*/

#articles {
    overflow-y: scroll;
}

#search {
    position: relative;
}

#search-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 35px;
    cursor: pointer;
    --ggs: 2.2;
}

#search-bar {
    padding: 10px 29px 10px 88px;
    font-size: 45px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-family: YoungSerif;
}

#search-bar::placeholder {
    color: black;
}

.post {
    cursor: pointer;
}

.post-title {
    font-size: 32px;
    margin: 0px;
}

.post-header {
    border-bottom: 4px solid black;
    padding: 0px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-tn {
    padding: 28px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition-duration: 0.3s;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

.post:hover > .post-tn {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.75);
}

.post:hover > .post-tn > p {
    opacity: 0.9;
}

.post-tn p {
    transition-duration: 0.3s;
    opacity: 0;
    color: white;
}

/**
Article styles
*/

#article {
    width: 0px;
    height: 0px;
    position: absolute;
    background-color: black;
    color: white;
    opacity: 0.2;
    overflow: hidden;
}

#article > * {
    opacity: 0;
}

#article > div {
    margin: 20px 30%;
}

#article img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#close-article {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
    border: 3px solid transparent;
    border-radius: 50%;
    --ggs: 2;
}

#close-article:hover {
    border-color: white;
    border-radius: 50%;
}
